/***** common style *****/
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    font-family: sans-serif;
}

.boxed {
    margin: 0 auto;
    max-width: 1200px;
}

.columns {
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    align-items: center;
}


/***** header *****/

header {
    background-color: orangered;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
}

.logo-img{
    width:auto;
    height: 30px;
    align-items: center;
}


.nav-column {
    padding: 1rem;
}

.nav-column-logo{
    width: 50%;

}

.nav-column-gender{
    width: 25%;
    
}

.nav-column-enti{
    width: 25%
    
}

/* main */

/* PRIMA E SECONDA FILA */
.container{
    margin: 0 auto;
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
div.row {
    width: 100%;
    margin-bottom: 1.5em;
    margin-top: 60px;
}

.item {
    display: inline-block;
    width: calc(100%/3 - 4px);
    vertical-align: top;
    position: relative;
}

div > img {
    width: 100%;
}

.heart {
    font-size: 1em;
    position: absolute;
    top: 1em;
    right: 0;
    background-color: #ffffff;
    padding: .1em .4em;
}

.hover-heart {
    color: red; 
    display: none;
}

.item:hover .hover-heart {
    display: block;
}

.bg-settings {
    font-weight: bold;
    font-size: .8em;
    padding: 0 .2em;
    color: #ffffff;
}

.discount-and-green-position{
    position: absolute;
    left: .1em;
    bottom: 4.5em;
}

.discount {
    background-color: #eb0037;
}

.green {
    background-color: #00875a;
}

.brand {
    font-size: .8em;
}

.product-description {
    font-size: 1em;
    font-weight: 600;
}

.price {
    font-weight: 600;
    color: #FF5733;
    font-size: .8em;
}

.full-price {
    font-size: .8em;
    text-decoration: line-through;
}

.hover-img {
    position: absolute;
    top: 0;
    display: none;
}

.item:hover .hover-img{
    display: block;
}

/* FOOTER */

footer{
    background-color: black;
    width: 100%;
}

.footer-container{
    margin: 0 auto;
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px 0px;
    margin-top: 50px;
}

footer li{
    color: white;
    list-style: none;
}

footer h2{
    font-size: 14px;
    color: white;
    font-weight: 700;
    text-transform: normal;
    padding-left: 5px;
}

li a{
    color: white;
}

.flexmenu-footer{
    display: flex;
    color: white;
}

.flexmenu-footer li{
    list-style: none;
    flex-direction: row;
    padding: 5px 5px;
    text-decoration: none;
    font-size: 10px;
}

h4{
    font-size: 10px;
    font-weight: 500;
    padding-bottom: 5px;
}

/* EXTRA */
.column:hover .wishlist{
    color: red;
}
   
